@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }

  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
}

@media (max-width: 900px) {
  .text-typing {
    padding: 15px 5px;
    font-size: 12px;
    margin: 10px 0 10px 0;
    letter-spacing: -0.1px;
  }

  .gif {
    width: 400px !important;
  }

  .masthead h1 {
    font-size: 1.5rem !important;
    margin: 0;
    padding: 0;
  }

  .name {
    font-size: 16px !important;
  }

  .btn-primary {
    font-size: 12px !important;
  }

  .img-fluid-resp {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 865px) {
  #timeline {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #timelinediv {
    padding: 25px 0;
    margin: 0;
    width: 100%;
  }

  .timeline__component {
    margin: 15px 0;
  }

  .timeline__component--bg {
    padding: 1.5em;
    border-radius: 0px;
  }

  .timeline__date--right {
    position: relative;
    top: -1.5em;
    text-align: right;
    padding-right: 1.5em;
  }

  .timeline__date {
    position: relative;
    top: -1.5em;
    padding-left: 1.5em;
  }

  .portfolio-item .caption {
    margin: 0;
  }
}
