@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

/*________________________________@MEDIA______________________*/
/* 
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }

  .masthead h1 {
    font-size: 2.5rem;
  }
} */
@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }

  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }

  .portfolio-item img {
    transition: -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }

  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }

  .portfolio-item:hover .caption {
    background-color: #605565;
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}

@media (max-width: 900px) {
  .text-typing {
    padding: 15px 5px;
    font-size: 9px;
    margin: 10px 0 10px 0;
    letter-spacing: -0.1px;
  }

  .gif {
    width: 400px !important;
  }

  .masthead h1 {
    font-size: 1.5rem !important;
    margin: 0;
    padding: 0;
  }

  .name {
    font-size: 16px !important;
  }

  .btn-primary {
    font-size: 12px !important;
  }

  .img-fluid-resp {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 865px) {
  #timeline {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #timelinediv {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
    width: 100%;
  }

  .timeline__component {
    margin: 15px 0;
  }

  .timeline__component--bg {
    padding: 1.5em;
    border-radius: 0px;
  }

  .timeline__point {
    transform: translate(-50%, -50%);
  }

  .timeline__date--right {
    position: relative;
    top: -1.5em;
    text-align: right;
    padding-right: 1.5em;
  }

  .timeline__date {
    position: relative;
    top: -1.5em;
    padding-left: 1.5em;
  }
  .portfolio-item .caption {
    margin: 0;
  }
}

/* __________________________________________________ */
.nightmode {
  position: fixed;
  margin-left: 12px;
  margin-top: 5px;
  z-index: 5;
}

.nightmode:hover {
  cursor: pointer;
}

.dark {
  background-color: #0a0a0a;
}

.sun,
.moon {
  font-size: 2rem;
  width: fit-content;
  height: fit-content;
}

.sun {
  position: absolute;
  inset: 0;
}

.sun-logo {
  opacity: 0;
  transform: translateY(20%) rotateZ(50deg);
  transition: all 1s ease-out;
}

.moon-logo {
  opacity: 1;
  transform: translateY(0) rotateZ(0deg);
  transition: all 1s ease-out;
}

.animate-moon {
  opacity: 0;
  transform: translateY(20%) rotateZ(100deg);
}

.animate-sun {
  opacity: 1;
  transform: translateY(0%) rotateZ(0deg);
}

.animate-sun path {
  fill: white;
}

.animate-moon path {
  fill: white;
}
