 /* #wrapper>*{
        padding: 20px;
        font-size: 20px;
        border: 20px solid rgba(136, 135, 209, 0.5)
    }
            
#wrapper header, #wrapper footer{
    background-color: blue;
    color: red;
}
body {background: blueviolet no-repeat 50%
    url(https://images.unsplash.com/photo-1492136344046-866c85e0bf04?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1945&q=80
    )}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    background-color: rgb(255, 249, 249);
    border: royalblue solid 8px;
    margin: 10px;
    padding: 10px;
}
p {color: rgb(225, 65, 126);} 
*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 100px;
    display: block;
    background-color: rgb(206, 197, 255);
}
.inner_header{
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: white;
    outline-width: 20%;
    outline-color:  rgb(206, 197, 255);
    outline-style: auto
    ;
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1{
    color: rgb(206, 197, 255);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: roboto;
    font-size: 30px;
    font-weight: 300px;
}
.logo_container h1 span{
    font-weight: 800;
    font-family: roboto;
    color: rgb(206, 197, 255)
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a:last-child{
    padding-right: 10;

}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: black;
    font-family: roboto;
    font-size: 15px;
}

